.wrapper {
	lost-center: 1070px;
}
.content {
	lost-column: 2/3;
}
.main-inner {
	padding: 40px 35px;
}
@media screen and (max-width:1100px) {
	.content {
		lost-column: 2/4;
	}
	.main-inner {
		padding: 35px 20px;
	}
}
@media screen and (max-width:900px) {
	.content {
		lost-column: 7/12;
	}
	.main-inner {
		padding: 30px 20px;
	}
}
@media screen and (max-width:500px) {
	.content {
		lost-column: 4/4;
	}
	.main-inner {
		padding: 25px 20px;
	}
}