html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary, cite, code, small {
	display: block;
}
body, article, section, footer, header, div, input, nav, article ol, article ul, blockquote, figure {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
audio, canvas, progress, video {
	display: inline-block;	/* 1 */
	vertical-align: baseline;	/* 2 */
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], template {
	display: none;
}

/* Links
	 ========================================================================== */
a {
	background: transparent;
}
a:active, a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */
abbr {
	letter-spacing: 0.1em;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 70%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
em, i {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

/* Embedded content
	 ========================================================================== */
img {
	border: 0;
}
svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
}

/* Tables
	 ========================================================================== */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	padding: 0;
}

/* Images
	 ========================================================================== */
img {
	max-width: 100%;
	display: block;
	margin: inherit auto;
}