$white: #fff;

body {
    background: $white;
    padding-top: 50px;
}

.articles {
    padding-top: 40px;
}

.article-wrap {
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.page-header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    word-break: break-word;
}

.page-content {
    padding-bottom: 10px;
    margin-bottom: 15px;
}


time {
    font-size: 0.75rem;
    color: #ccc;
    display: inline;
    margin-right: 10px;
}

.tag {
    margin-right: 3px;
}

img {
    padding-bottom: 10px;
    margin-bottom: 15px;
}

blockquote a {
    display: block;
    word-break: break-word;
}

img:hover {
    -webkit-animation: pulse 0.5s;
    animation: pulse 0.5s;
}
