$white: #fff;
$black: #000;

$gray-100: #f8f9fa;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;

$blue: #03a9f4;
$purple: #673ab7;
$pink: #e91e63;
$red: #f44336;
$yellow: #ffab00;
$green: #8bc34a;
$cyan: #00bcd4;
