$white: #fff !default;
$black: #000 !default;

$gray-100: #f8f9fa !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;

$blue: #03a9f4 !default;
$purple: #673ab7 !default;
$pink: #e91e63 !default;
$red: #f44336 !default;
$yellow: #ffab00 !default;
$green: #8bc34a !default;
$cyan: #00bcd4 !default;
